*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.light{
    position: absolute;
    left: 0;
    top : 0;
    background: radial-gradient(circle at 50% 50%, transparent, transparent 70px, rgba(0, 0, 0, 0.9) 100px, rgba(0,0,0,0.9));
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.elm {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.elm .img{
    position: relative;
    height: 100%;
    width: auto;
    display: inline-block;
}
.elm .img .room{
    display: block;
    height: 100%;
}
.elm .img .switch{
    cursor : pointer;
    position: absolute;
    top: 34.5%;
    left: 2.5%;
    width: 4%;
    height: 4%;
}
